
body{
    background-image: url("hockney.png");
    background-size: cover;
    color: purple;
}

#portfolio-preview{display: flex; 
    flex-direction: row;
    justify-content: center;
}
#portfolio-preview div{
    width: 30%;
    margin:1vw;
    background-color:rgba(0, 0, 0, 0.6); 
}
div{
    margin: 1vw;
    padding:3vw
border-radius:30px;    
}
nav li{
    display:inline;
padding:3vw;
font-size:1vw;
margin:1vw;
}
nav ul{
list-style-type: none;
text-align: center;
color:teal;
}
nav a{
font-weight: 2vw;
text-decoration:none;
}
#about-me{ display:flex; 
    flex-direction: row;
    justify-content: center;
}
#about-me div{
    width: 30%;
    margin:1vw;
    background-color:rgba(0, 0, 0, 0.6); 
}