#portfolio-preview{display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;

}
#portfolio-preview div{
   width: 50%; 
      background-color: blue;
}
body{
    background-image: url("hockney.png");
    background-size: cover;
    color: white;
}

#flex-container {display: flex; 
    flex-direction: row;
    justify-content: center;
}
#flex-container {display: flex; 
    flex-direction: row;
    justify-content: center;
}
#flex-container div{
    width: 30%;
    margin:1vw;
    background-color:rgba(0, 0, 0, 0.6); 
}
nav li{
    display:inline;
padding:3vw;
font-size:1vw;
margin:1vw;
}
nav ul{
list-style-type: none;
text-align: center;
color:teal;
}
nav a{
font-weight: 2vw;
text-decoration:none;
}