#portfolio-preview{display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: left;
    padding:2vw;
    margin:1vw;
    height:auto;
max-width:fit-content;

}
#portfolio-preview div{
   width: 25%; 
      background-color: blue;
      margin:1vw;
      padding:3vw;
    
}
body{
    background-image: url("hockney.png");
    background-size: cover;
    color: purple;
}

#flex-container {display: flex; 
    flex-direction: row;
    justify-content: center;
}
#flex-container {display: flex; 
    flex-direction: row;
    justify-content: center;
}
#flex-container div{
    width: 30%;
    margin:1vw;
    background-color:rgba(0, 0, 0, 0.6); 
}
nav li{
    display:inline;
padding:3vw;
font-size:1vw;
margin:1vw;
}
nav ul{
list-style-type: none;
text-align: center;
color:teal;
}
nav a{
font-weight: 2vw;
text-decoration:none;
}
div{
    margin: 1vw;
    padding:3vw
border-radius:30px;    
}
