
body{    
background-color: white;
    color: greenyellow;
}

#portfolio-preview{display: flex; 
    flex-direction: row;
    justify-content: left;
}
#portfolio-preview div{
    width: 30%;
    margin:1vw;
}
div{
    margin: 1vw;
    padding:3vw
border-radius:30px;    
}
nav li{
    display:inline;
padding:3vw;
font-size:1vw;
margin:1vw;
}
nav ul{
list-style-type: none;
text-align: center;
color:teal;
}
nav a{
font-weight: 2vw;
text-decoration:none;
}
